#library-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#library-page main {
  flex-grow: 1;
  justify-content: center;
}
#library-page .library-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.file-upload-modal {
  position: fixed;
  inset: 0px;
  font-weight: 300;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
  border: none;
  border-radius: 1rem;
}
.file-upload-modal .title {
  font-size: 1.5rem;
}
.close-modal-btn {
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: var(--color-red, red);
}
.close-modal-btn:hover {
  opacity: 0.5;
}
.file-upload-modal .submit-btn {
  align-self: flex-end;
  background-color: var(--color-azul);
  border: none;
  color: white;
  border-radius: 8px;
  padding: 0.25rem 0.75rem;
}
.file-upload-modal .submit-btn:hover {
  cursor: pointer;
  background-color: var(--color-azul-dark);
}
:is(
    #library-page .my-library,
    #library-page .new-folder,
    #library-page .upload-file
  ) {
  display: flex;
  gap: 0.5rem;
}
:is(#library-page .new-folder, #library-page .upload-file) {
  color: var(--color-light-blue);
  cursor: pointer;
}
:is(
    #library-page .new-folder span:last-child:hover,
    #library-page .upload-file span:last-child:hover
  ) {
  text-decoration: underline;
}
#library-page table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

#library-page caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

#library-page thead,
#library-page tfoot {
  background-color: rgb(228 240 245);
}

#library-page th,
#library-page td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

#library-page td:last-of-type {
  text-align: center;
}

#library-page tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

#library-page tfoot th {
  text-align: right;
}

#library-page tfoot td {
  font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #library-page .library-header {
    flex-direction: row;
  }
  #library-page .my-library {
    margin-right: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #library-page .library-header {
    flex-direction: row;
  }
  #library-page .my-library {
    margin-right: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #library-page .library-header {
    flex-direction: row;
  }
  #library-page .my-library {
    margin-right: auto;
  }
}
