@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
  --color-azul: #2563eb;
  --color-azul-dark: #286cff;
  --color-light-blue: rgb(59, 130, 246);
  --color-ebony-clay: #1f2937;
  --color-white: white;
  --color-white-smoke: #f3f4f6;
  --color-quill-gray: #d1d5db;
  --font-roboto: "Roboto";
  font-family: var(--font-roboto, sans-serif);
}

.navbar {
  background-color: var(--color-azul);
  color: var(--color-white);
  padding: 1rem;
}
.navbar-icon,
#navbar-icon {
  display: none;
}
.navbar > ul {
  padding: 0;
}
.navbar > ul > li {
  list-style: none;
}
.navbar > ul > li {
  list-style: none;
}
.navbar > ul > .home-logo {
  margin-right: auto;
  font-size: 2rem;
}
.navbar .home-logo__text {
  font-weight: 800;
}
.navbar a {
  color: var(--color-white);
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.125rem;
}

.footer {
  background-color: var(--color-ebony-clay);
  padding: 1rem;
  color: var(--color-white);
  font-size: 14px;
}
.footer .footer_left-side {
  flex-grow: 1;
}

.footer a {
  color: var(--color-white);
  text-decoration: none;
  height: 100%;
}
.footer .github-user {
  font-weight: 800;
}
.footer .project-descriptions {
  font-weight: 200;
  font-size: 12px;
}

.footer .project-code {
  color: var(--color-azul);
  font-size: 18px;
  display: block;
}

.footer_right-side {
  align-self: center;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.username,
.logoutBtn,
.library {
  display: flex;
}
.username .name {
  font-weight: bolder;
}
.logoutBtn {
  border-radius: 8px;
  border: none;
  padding: 0.35rem 0.75rem;
  cursor: pointer;
}

[data-stack] {
  --gutter: initial;
  display: flex;
  flex-direction: column;
  gap: var(--gutter, 0px);
}

[data-inline] {
  --gutter: initial;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gutter, 0px);
}
[data-inline~="space-between"] {
  --gutter: initial;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gutter, 0px);
}

[data-cover] {
  --gutter: initial;
  --minHeight: initial;
  min-block-size: var(--minHeight, 100%);
  display: flex;
  gap: var(--gutter, 0px);
  flex-direction: column;
  justify-content: center;
}
[data-cover] > [data-cover-center] {
  margin-block-start: auto;
  margin-block-end: auto;
}

[data-center] {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

[data-center~="center-child"] {
  --gutter: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter);
}
[data-center~="center-text"] {
  text-align: center;
}

[data-grid] {
  --gutter: initial;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: var(--gutter, 0rem);
}
@media screen and (max-width: 500px) {
  .navbar ul {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .navbar > ul > .home-logo {
    margin-right: 0;
  }
  .navbar-icon {
    display: inline;
  }
  .navbar > ul {
    display: none;
  }

  #navbar-icon:checked + ul {
    display: flex;
  }

  .navbar-icon > span {
    font-size: 3rem;
  }
}
